:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --font-montserrat: 'Montserrat', sans-serif;
  --font-fraunces: 'Fraunces', serif;
  --font-500: 500;
  --font-700: 700;
}

body {
  background-color: var(--cream);
  font-size: 16px;
}

.container {
  padding: 28px 16px;
  width: 100%;

  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 450px;
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.card-header {
  border-radius: 8px 8px 0 0;
  overflow: hidden;

  @media (min-width: 768px) {
    border-radius: 8px 0px 0px 8px;
  }
}

.card-img {
  width: 100%;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.card-body {
  padding: 26px;
}

.span {
  display: inline-block;
  font-family: var(--font-montserrat);
  font-weight: var(--font-500);
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  margin-bottom: 16px;
}

.card-title {
  font-size: 1.875rem;
  font-family: var(--font-fraunces);
  line-height: 1;
  color: var(--very-dark-blue);
  margin-bottom: 24px;
}

.card-text {
  color: var(--dark-grayish-blue);
  font-family: var(--font-montserrat);
  font-weight: var(--font-500);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 28px;
}

.container-price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.card-price-main {
  font-size: 32px;
  font-family: var(--font-fraunces);
  color: var(--dark-cyan);
}

.card-price-secondary {
  font-size: 0.813rem;
  color: var(--dark-grayish-blue);
  font-family: var(--font-montserrat);
  font-weight: var(--font-500);
  text-decoration: line-through;
}

.button {
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 8px;
  background-color: var(--dark-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--white);
  font-family: var(--font-montserrat);
  font-weight: var(--font-700);
  font-size: 0.875rem;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  font-family: var(--font-montserrat);
  color: var(--very-dark-blue);
  text-align: center;
}

.attribution a {
  color: var(--dark-cyan);
  font-size: 13px;
}
